stages:
  - build

app_dill:
  stage: build
  only: 
    - bd_1.12.13_dynamic_pre
  tags:
    - flutter
  script:
    - export http_proxy=sys-proxy-rd-relay.byted.org:8118  https_proxy=sys-proxy-rd-relay.byted.org:8118 no_proxy=code.byted.org
    - python3 update_dynamicart_version.py -b $CI_COMMIT_REF_NAME -c $CI_COMMIT_SHA
