.common: &common
  only:
    - bd_1.22_pre
  except:
    - tags
    - web

stages:
  - test-stage-first
  - test-stage-second
  - test-stage-third
  - test-stage-four
  - test-stage-five
  - test-stage-six

flutter-precache:
  <<: *common
  stage: test-stage-first
  script:
    - export PUB_HOSTED_URL=https://dart-pub.byted.org
    - bin/flutter precache
  tags:
    - shared

usability-benchmark:
  <<: *common
  stage: test-stage-first
  script:
    - curl http://tosv.byted.org/obj/toutiao.ios.arch/flutter/benchmark_script.py -o benchmark_script.py
    - python3 -u benchmark_script.py --branch="${CI_COMMIT_REF_NAME}" --cid="$CI_COMMIT_SHA" --mode=usability
  tags:
    - shared

pref-benchmark:
  <<: *common
  stage: test-stage-second
  script:
    - curl http://tosv.byted.org/obj/toutiao.ios.arch/flutter/benchmark_script.py -o benchmark_script.py
    - python3 -u benchmark_script.py --branch="${CI_COMMIT_REF_NAME}" --cid="$CI_COMMIT_SHA" --mode=pref --stage=1
  tags:
    - benchmark

startup-benchmark:
  <<: *common
  stage: test-stage-third
  script:
    - curl http://tosv.byted.org/obj/toutiao.ios.arch/flutter/benchmark_script.py -o benchmark_script.py
    - python3 -u benchmark_script.py --branch="${CI_COMMIT_REF_NAME}" --cid="$CI_COMMIT_SHA" --mode=pref --stage=2
  tags:
    - benchmark

compile-benchmark:
  <<: *common
  stage: test-stage-four
  script:
    - curl http://tosv.byted.org/obj/toutiao.ios.arch/flutter/benchmark_script.py -o benchmark_script.py
    - python3 -u benchmark_script.py --branch="${CI_COMMIT_REF_NAME}" --cid="$CI_COMMIT_SHA" --mode=pref --stage=3
  tags:
    - benchmark

memory-benchmark:
  <<: *common
  stage: test-stage-five
  script:
    - curl http://tosv.byted.org/obj/toutiao.ios.arch/flutter/benchmark_script.py -o benchmark_script.py
    - python3 -u benchmark_script.py --branch="${CI_COMMIT_REF_NAME}" --cid="$CI_COMMIT_SHA" --mode=pref --stage=4
  tags:
    - benchmark

macro-benchmark:
  <<: *common
  stage: test-stage-six
  script:
    - curl http://tosv.byted.org/obj/toutiao.ios.arch/flutter/benchmark_script.py -o benchmark_script.py
    - python3 -u benchmark_script.py --branch="${CI_COMMIT_REF_NAME}" --cid="$CI_COMMIT_SHA" --mode=pref --stage=5
  tags:
    - benchmark

bytest-baseline-benchmark:
  only:
    - web
  stage: test-stage-first
  script:
    - export CONSUL_HTTP_HOST=10.227.80.56
    - curl http://tosv.byted.org/obj/toutiao.ios.arch/flutter/baseline_script.zip -o baseline_script.zip
    - unzip -o -d baseline_script baseline_script.zip
    - python3 -u baseline_script/baseline_script.py --branch="${CI_COMMIT_REF_NAME}" --cid="$CI_COMMIT_SHA"
    - unset CONSUL_HTTP_HOST
  tags:
    - benchmark
