.common: &common
  only:
    - bd_1.22_pre_test

stages:
  - run-benchmark

bytest-benchmark:
  <<: *common
  stage: run-benchmark
  script:
    - curl http://tosv.byted.org/obj/toutiao.ios.arch/flutter/pipeline_script.py -o pipeline_script.py
    - python3 -u pipeline_script.py --branch="${CI_COMMIT_REF_NAME}" --cid="$CI_COMMIT_SHA"
  tags:
    - shared
